.datatable {
 border-collapse: collapse;
 
 border-top: 0;
 color: #333;
 font: 12px/15px arial, helvetica;
 width: 100%;
 align-self: center;
}

.datatable tr:first-child {
 background: #e7edf3;
 font-weight: bold;
 padding: 8px;
 vertical-align: top;
}

td {
 border: 1px solid black;
 border-collapse: collapse;
 padding: 15px;
 text-align: left;
 color: black;
 font-family: -webkit-pictograph;
}
