div {
  background: #fff;
  border-width: 1px;
  border-color: #ced2df;
  border-style: solid;
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  clear: both;
}

p {
  color: #104887 !important;
  font-size: 15px;
  text-align: left;
}
